<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.med.mtz.moises.contrato13710">

    <application
        android:name=".ContractGoalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contrato13710">
        <activity android:name=".presentation.new_contract.NewContractActivity"></activity>
        <activity android:name=".presentation.contract_details.ContractDetailsActivity" />
        <activity android:name=".presentation.contract_items.ContractItemsActivity" />
        <activity android:name=".presentation.goal_items.GoalItemsActivity" />
        <activity android:name=".presentation.new_goal.NewGoalActivity" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.main.MainActivity" />

        <receiver android:name=".system.broadcast.NotificationsBroadcastReceiver" />
        <activity android:name=".presentation.into_activity.IntoActivity"
            android:label="My Custom AppIntro" />

    </application>

</manifest>